<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <!-- Brand -->
      
      <a class="navbar-brand" href="#">
        <img src="https://media.licdn.com/dms/image/v2/C510BAQHqTAcwFhPWzQ/company-logo_200_200/company-logo_200_200/0/1630595103524/payline_india_logo?e=2147483647&v=beta&t=7I1hOtDWDvaWYkLPBJzPQUVNhzbZC5JGMr_Rs-elEoA" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
        Delivery Tracking System
      </a>
  
      <!-- Toggler for mobile view -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Navbar Links -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active"  (click)="goBack()">Home</a>
          </li>
        </ul>
  
        <!-- Logout Button -->
        <button class="btn btn-danger" (click)="logout()">Logout</button>
      </div>
    </div>
  </nav>
  